*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    height: calc(100vh - 100px);
    background-color: rgb(139, 139, 139);
    display: flex;
}

header{
    position: sticky;
    height: 90px;
    background-color: rgb(16, 16, 25);
    top: 0;
    padding: 25px;
    justify-items: end;
}

footer{
    height: 100px;
    background-color: rgb(105, 103, 103);
}

#sidebar{
    height: 100%;
    width: 220px;
    background-color: black;
    padding-left: 10px;
}

#container{
    width: calc(100% - 100px);
    overflow-y: auto;
}

/* Layout */
.upgrade{
    width: 160px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.logo{
    height: 90px;
    padding-top: 10px;
}

.homelist{
    height: 150px;
}

/* Decoration */
.design-text{
    font-size: small;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

.home{
    height: 30px;
}

.homelist ul li{
    color: #fff;
    list-style-type: none;
}

